<!DOCTYPE html>
<html lang="en">
<head>
    <title>TritonShare</title>
 <!-- Dont edit this shit -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
 <!-- Dont edit above this shit -->
</head>
<body>

<!-- Navigation bar -->
	<div class = "navbar navbar-default navbar-static-top">
		<div class = "container">
			<a href = "/" class = "navbar-brand">Home</a>
			<a href = "about" class = "navbar-brand">About</a>
		</div>
	</div>
<!-- Navigation bar ends-->
	
	<!--
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h3><b>What is Tritonshare?</b></h3>

        </div>
    </header>
	-->

	<div class = "container" id = "outer">
		<center>
		<h3><b>What is Tritonshare?</b></h3>
		</center>
		Tritonshare is a free tool where students can find and share resources for the courses they are taking. Anything from discussion slides to personal notes, you can find everything you need to contribute to your academic success. 
		<br>
		<center>
		<h3><b>How to use Tritonshare: </b></h3>
		</center>
		<ol>
			<li>Choose the appropriate major/department and course from the homepage.</li>
			<li>If you're looking for a resource, simply look at the generated resource list and view or download it.</li>
			<li>If you want to share a link to a resource, click on "Submit URL", fill in the required fields, and press "Submit".</li>
			<li>If you want to share a file, click on "Upload a File".</li>
		</ol>
		<center>
		<h3><b>Future plans for Tritonshare: </b></h3>
		</center>
		<ul>
			<li>Tag feature for files uploaded</li>
			<li>Filter files by tag</li>
			<li>Automated virus scanning to prevent malicious uploads</li>
			<li>Picture preview window for viewing files before downloading</li>
			<li>Expand the tool to other universities throughout the country</li>
		</ul>
	</div>
 
 
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	

</body>

</html>
