<!DOCTYPE html>
<html lang="en">
<head>
    <title>TritonShare</title>
 <!-- Dont edit this shit -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">  <!--this needs to change-->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
 <!-- Dont edit above this shit -->
</head>
<body>

<!-- Navigation bar -->
	<div class = "navbar navbar-default navbar-static-top">
		<div class = "container">
			<a href = "/" class = "navbar-brand">Home</a>
			<a href = "about" class = "navbar-brand">About</a>
		</div>
	</div>
<!-- Navigation bar ends-->
	
	
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h2>Example Post</h2>

			<br>
        </div>
    </header>
	
	<center><div>
	Example Title<br/>
	Example Description of the submission or whatever.
	</div><br/>
	<a class="btn btn-default" href="#" role="button">Download</a><br/><br/>
	<a class="btn btn-default" href="/share" role="button">Back</a>
 </center>
 

<!--comment code starts here-->
<!-- Begin Comments JavaScript Code -->
<center>
<div>
<script type="text/javascript" async>function ajaxpath_54d4599ca682d(url){
return window.location.href == '' ? url : url.replace('&s=','&s=' + escape(window.location.href));}
(function(){document.write('<div id="fcs_div_54d4599ca682d"></div>');
fcs_54d4599ca682d=document.createElement('script');fcs_54d4599ca682d.type="text/javascript";fcs_54d4599ca682d.src=ajaxpath_54d4599ca682d((document.location.protocol=="https:"?"https:":"http:")+"//www.freecommentscript.com/GetComments2.php?p=54d4599ca682d&s=&Size=10#!54d4599ca682d");
setTimeout("document.getElementById('fcs_div_54d4599ca682d').appendChild(fcs_54d4599ca682d)",1);})();</script>
</div>
</center>
<!-- End Comments JavaScript Code -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	

</body>

</html>