<!doctype html>

<html>
<head>
    <title>Resources</title>    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">  <!--this needs to change-->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> 
    <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
    <!-- Navigation bar -->
    <div class = "navbar navbar-default navbar-static-top">
        <div class = "container">
            <a href = "/" class = "navbar-brand">Home</a>
            <a href = "about" class = "navbar-brand">About</a>
        </div>
    </div>
<!-- Navigation bar ends-->
    <div class="container">
        <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
        <!-- p means paragraph -->


        <h4>Resources</h4>
        <!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
        <!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
        <!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
       
        {{#each projects}}
        <div class="project" id="project{{id}}">
            <div class="thumbnail">
                <a href="#">+ {{summary}}</a>
                <div class="details"></div>
            </div>
        </div>
        {{/each}}

    <hr />

  <form action="/share">
    <input type="submit" value="Share a URL" type="button" class="btn btn-default">
</form>
<form action="#">
    <input type="submit" value="Upload a File" type="button" class="btn btn-default">
</form>



<!--<span id="tag">test</span>-->

<script>
  // Get references to the objects you need (<select> and <span>)
  var list = document.getElementById('course');
  var tag = document.getElementById('tag');

  // When the list value changes, set the innerHTML of the <span>
  list.onchange = function() {
    tag.innerHTML = this.value;
  };
</script>





    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/introHCI.js"></script>
</body>
</html>
