

/* Global Styles */

html,
body {
    width: 100%;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

header{
	padding: 0px;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.dropdown{ /*Choose a class*/
    position:relative;
    width:100%;
    text-align:center;
}
btn{
    position:relative;
    width:1000%;
    text-align:center;
}

ul{  /*dropdown list*/
  text-align:center;
  width: 100%;
}

ul li a {
   text-align: center;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
	
	
	

/* Header */
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 25%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

